pkgbase = virtualbox-modules-bede
	pkgver = 4.3.6
	pkgrel = 3
	url = http://virtualbox.org
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = linux-bede>=3.12.6
	makedepends = linux-bede<3.13
	makedepends = linux-bede-headers>=3.12
	makedepends = linux-bede-headers<3.13
	makedepends = virtualbox-host-dkms>=4.3.6
	makedepends = virtualbox-guest-dkms>=4.3.6
	source = modules-load-virtualbox-bede
	source = 60-vboxguest.rules
	md5sums = f2200ed91b6ec089d16cc3ada5418c73
	md5sums = ed1341881437455d9735875ddf455fbe

pkgname = virtualbox-modules-bede-host
	pkgdesc = Kernel host modules for VirtualBox (linux-bede)
	install = virtualbox-modules-bede-host.install
	license = GPL
	depends = linux-bede>=3.12
	depends = linux-bede<3.13
	provides = virtualbox-host-modules=4.3.6

pkgname = virtualbox-modules-bede-guest
	pkgdesc = Kernel guest modules for VirtualBox (linux-bede)
	install = virtualbox-modules-bede-guest.install
	license = GPL
	depends = linux-bede>=3.12
	depends = linux-bede<3.13
	provides = virtualbox-guest-modules=4.3.6

